.syntax--julia{
	.syntax--operator{
		color: ;
	}
	.syntax--array{
		color: ;
	}
	.syntax--string{
		color: ;
	}
	.syntax--bracket{
		color: ;
	}
	.syntax--function_decl{
		color: ;
	}
	.syntax--function_call{
		color: ;
	}
	.syntax--keyword{
		color: ;
	}
	.syntax--number{
		color: ;
	}
	.syntax--comment{
		color: ;
	}
	.syntax--type_decl{
		color: ;
	}
	.syntax--symbol{
		color: ;
	}
}
