.syntax--julia{
	&.syntax--keyword{
		&.syntax--operator{
			color: @text;
		}
		&.syntax--control{
			&.syntax--import, &.syntax--using, &.syntax--export
			{
				color: @syntax-alt;
			}
			&.syntax--end{
				opacity: 0.5;
			}
		}
		&.syntax--storage{
			color: @constant-alt;
		}
		&.syntax--other{
			color: @syntax;
		}
	}

	&.syntax--string{
		color: @content;
	}

	&.syntax--bracket{
		color: @text;
	}

	&.syntax--function_decl{
		color: @syntax;
		font-style: bold;
	}

	&.syntax--function_call{
		color: @syntax;
	}

	&.syntax--constant{
		&.syntax--numeric{
			font-weight: normal;
			color: @text;
		}
		&.syntax--symbol{
			font-weight: normal;
			color: mix(@constant, @syntax);
		}
		&.syntax--language{
			font-weight: bold;
		}
	}

	&.syntax--comment{
		color: @comment;
	}

	&.syntax--type{
		color: @syntax;
		opacity: 0.5;
	}

	&.syntax--macro{
		font-style: italic;
		opacity: 0.75;
	}

	&.syntax--interpolation{
		color: @constant;
	}
}
